@using BS_Zoom_Demo.Web.Models.Teachers
@model CreateMeetingViewModel

@section scripts
{
    <environment names="Development">
        <script src="~/Views/MeetingManager/create.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/Views/MeetingManager/create.min.js" asp-append-version="true"></script>
    </environment>
}

<h2>
    @L("NewMeeting")
</h2>

<form id="MeetingCreationForm" style="margin:30px;">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Information
                    </h2>
                </div>
                <div class="body">
                    <input type="hidden" value="@Model.accessToken" id="accessToken" />
                    <input type="hidden" value="" id="meeting_id" />
                    <input type="hidden" value="" id="meetting_password" />
                    <input type="hidden" value="" id="tmpArgs" />
                    <div class="row" style="margin-bottom:auto; margin-top:auto;">
                        <div class="col-md-6">
                            <input type="text" name="topic_name" id="topic_name" value="" maxLength="100"
                                   placeholder="topic name" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="start_time" id="start_time" value="" placeholder="start_time" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="end_date_time" id="end_date_time" value="" placeholder="end date time" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <input type="number" name="duration" id="duration" value="" placeholder="duration" class="form-control">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:auto; margin-top:auto;">
                        <div class="col-md-2">
                            <input type="password" name="password" id="password" value="" placeholder="password" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="agenda" id="agenda" value="" placeholder="meeting description" class="form-control">
                        </div>
                        <div class="col-md-2">
                            @Html.Label(L("AssignedPerson"))
                        </div>
                        <div class="col-md-2">
                            @Html.DropDownList(
                                "AssignedPersonId",
                                Model.Teachers,
                                new
                                {
                                    @class = "form-control",
                                    id = "AssignedPersonCombobox"
                                })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 text-left">
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-primary" id="create_meeting">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</form>